@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5r6yi9');
  src:  url('../fonts/icomoon.eot?5r6yi9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5r6yi9') format('truetype'),
    url('../fonts/icomoon.woff?5r6yi9') format('woff'),
    url('../fonts/icomoon.svg?5r6yi9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_down:before {
  content: "\e900";
}
.icon-keyboard_arrow_up:before {
  content: "\e901";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-github-square:before {
  content: "\f092";
}
