@use "utilities/index" as *;


@media (max-width: 499px) {
    .title-animate {
        margin: 0.5em 0;
    }
}

@media (min-width: 500px) { 
    header img      {
        width: 100%;
    }

    #message {
        padding-bottom: 25%;
    }
}

@media (min-width: 750px) {
    header .social-media {
        font-size: 2rem;
    }
    
    #scs-scheme h3,
    #portfolio h1,
    #examples h1,
    #index h3,
    #index h5 {
        font-size: 2rem;
    }  
}

@media (min-width: 1000px) {
    #message {
        padding-bottom: 15%;
    }

    #index {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 1500px) {
    #message {
        padding-bottom: 5%;
    }
}

@media (min-width: 750px) {    
    #treehouse-desc {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (min-width: 1000px) {
    #treehouse-desc {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 1500px) {    
    #treehouse-desc {
        padding-left: 100px;
        padding-right: 100px;
    }
}

/*About Me*/
@media (max-width: 767px) {
    #personal-profile {
        max-height: 25vh;
    }
}

/*Coding Examples*/
@media (min-width: 500px) {
    #highlight-one-code h3 {
        font-size: 2.5rem;
    }
}

//Portfolio Media Queries
@media (min-width: 800px) {
    .js-enabled .your-class .slick-slide {
        margin: 0 10px; /* gap size */
    }
    
    

}

@media (max-width: 768px) {
    .code-stack {
        height: 300px;
    }

    .file-back {
        top: 25px;
        left: 20px;
    }
}

@media (min-width: 992px) {
  #mainNav {
    position: static !important; /* default Bootstrap */
    width: 100% !important;
    height: auto !important;
    transform: none !important;
    background-color: rgb(33, 37, 41);
  }
}

/* Bug Fixes*/

/* Puts a red outline over every container so overlapping is visable (For bugfixing*/

/* * {
    pointer-events: auto !important;
    background: rgba(255,0,0,0.1) !important;
} */
 