/* Error: Module loop: this module is already being loaded.
 *   ,--> scss\base\_base.scss
 * 1 | @use "index" as *;
 *   | ^^^^^^^^^^^^^^^^^ new load
 *   '
 *   ,--> scss\styles.scss
 * 3 | @use "base/index.scss" as *;
 *   | =========================== original load
 *   '
 *   scss\base\_base.scss 1:1   @use
 *   scss\base\_index.scss 2:1  @use
 *   scss\styles.scss 3:1       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Module loop: this module is already being loaded.\a   \250c \2500 \2500 > scss\\base\\_base.scss\a 1 \2502  @use "index" as *;\d\a   \2502  ^^^^^^^^^^^^^^^^^ new load\a   \2575 \a   \250c \2500 \2500 > scss\\styles.scss\a 3 \2502  @use "base/index.scss" as *;\d\a   \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original load\a   \2575 \a   scss\\base\\_base.scss 1:1   @use\a   scss\\base\\_index.scss 2:1  @use\a   scss\\styles.scss 3:1       root stylesheet';
}
