/*Colors throughout the page*/
$background-color: #eeeee0;
$alternative-background: peachpuff;
$base-font-color: black;
$border-colors: rgb(128, 128, 8);
$secondary-color: rgb(151, 2, 2);

/*Text-families*/
$default-text-family: "Newsreader", sans-serif;
$default-text-size: 0.875rem;
$default-text-weight: 400;
$default-text-lineheight: 1.1;
$default-text-letterspacing:0.4px;

$heading-text-family: "Noticia Text", serif;
$heading-text-size: 1.625rem;
$heading-text-weight: 700;
