/*Colors throughout the page*/
$primary-text: #111827;
$primary-accent: #2563eb;
$secondary: #6b7280;


/*Text-families*/
$default-text-family: "Roboto", sans-serif;
$default-text-size: 0.875rem;
$default-text-weight: 400;
$default-text-lineheight: 1.1;
$default-text-letterspacing:0.4px;

$heading-text-family: "Poppins", sans-serif;
$heading-text-size: 1.625rem;
$heading-text-weight: 700;
