/*Colors throughout the page*/
$primary-text: #111827;
$primary-accent: #2563eb;
$secondary: #6b7280;

$primary-title: #6834d4;
$secondary-title: #35166e;

$background: #fefefe;
$panels: #6834d4;

$button-primary: #32c563;
$button-secondary: #d46834;

$button-primary-hover: #6cdb91;
$button-secondary-hover: #ec9163;


/*Text-families*/
$default-text-family: "Roboto", sans-serif;
$default-text-size: 0.875rem;
$default-text-weight: 400;
$default-text-lineheight: 1.1;
$default-text-letterspacing:0.4px;

$heading-text-family: "Poppins", sans-serif;
$heading-text-size: 1.625rem;
$heading-text-weight: 700;
