@use "../utilities/index" as *;

.margin .we-are-here { /*Underlines the part of the margin representing the current page*/
    text-decoration: underline;
}

header .margin { /*Handles the style of the margin and its size*/
    border-right: 5px solid $border-colors;
    height: fit-content;
    width: 100%;
    display: block;
    text-align: center;
    padding: 0 15px;
}

.margin li { /*Controls what happens with the specific parts of the list*/
    list-style: none;
    padding: 5px 0;
}

.header-positioning { /*Controls the header, and the proportions of the two sections*/
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    width: 100%;
    border-bottom: 5px solid $border-colors;
    justify-content: center;
}

.website-head { /*Controls the title-section of the header and how its content is seperated*/
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    min-width: 0;
    padding-top: 40%;
    padding-bottom: 5%;
}

.website-title { /*Makes the title show vertically*/
    display: flex;
    flex-direction: column;
}

.logo { /*Sets the aethetics of the logo*/
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 1.875rem;
    font-weight: 600;
}

#highlight-collection h3 { /*Sets the positioning of the highlight heading*/
    text-align: center;
}
