/*Containers*/
@use "../utilities/index" as *;

.js-enabled .js-disabled{
    display: none;
}

.slide-text {
    text-align: center;
}

.slick-list {
    width: 75%;
    margin: 0 auto;
}

#my-details p {
    margin-bottom: 0; 
}

.highlight-buttons {
    justify-content: center;
}

.slick-prev {
    left: 25px;
}

.slick-next {
    right: 25px;
}

.slick-slide {
    margin: 0 10px;
}

.projects-carousel img {
    height: 20vh;
    filter: brightness(70%);
}

.tech-stack {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: $panels;
    color: white;
    font-size: 0.65rem;
}

.tech-stack p {
    margin-bottom: 0;
    padding: 2.5px 0;
}

html {
    background-color: $background;
}

.projects-mainpage {
    background-color: $panels;
    color:white;
}

#nav-backup {
    display: none;
}
.js-disabled #nav-backup {
    display:block;
}

.main-page::after,
header::after {
  content: "";
  position: fixed;
  inset: 0;

  background-color: rgba(0,0,0,0);
  transition: background 0.4s ease;

  pointer-events: none;
}

.menu-active .main-page::after,
.menu-active header::after   {
  background-color: rgba(0,0,0,0.4);
  z-index: 999;
}

header::after {
    position: static;
    pointer-events: all;
}






