@use "../utilities/index" as *;

.margin .we-are-here { /*Underlines the part of the margin representing the current page*/
    text-decoration: underline;
}

header .margin { /*Handles the style of the margin and its size*/
    border-right: 5px solid $border-colors;
    height: fit-content;
    width: 100%;
    display: block;
    text-align: center;
    padding: 0 15px;
}

.margin li { /*Controls what happens with the specific parts of the list*/
    list-style: none;
    padding: 5px 0;
}

.header-positioning { /*Controls the header, and the proportions of the two sections*/
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    width: 100%;
    border-bottom: 5px solid $border-colors;
    justify-content: center;
}

.website-head {
    position: relative;
}

.title-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    min-width: 0;
    padding-top: 45px;
    padding-bottom: 15px;
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.scroll-down {
    font-size: 0.75rem;
}

.website-title { /*Makes the title show vertically*/
    display: flex;
    flex-direction: column;
}

.logo { /*Sets the aethetics of the logo*/
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 1.875rem;
    font-weight: 600;
}

#highlight-collection h3 { /*Sets the positioning of the highlight heading*/
    text-align: center;
    padding-bottom: 10px;
}

.title-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1
}

.meat-positioning {
    padding: 15px;
    display: grid;
}

.highlight-box img {
    height: 20vh;
    width: 100%;
}

#highlights {
    display: flex;
    padding-bottom: 10px;
}

.highlight-box {
    width: 50%;
    height:fit-content;
}

.highlight-paragraph {
    width:fit-content;
    padding: 0 10px;
}

#highlight-one {
    margin-right: 5px;
}

#highlight-two {
    margin-left: 5px;
}

/*Treehouse Index*/
#treehouse-collection {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 10px;
}

#treehouse-info {
    text-align: center;
    padding: 10px 10px;
}

.highlight-box, 
#treehouse-collection {
    border: 2px solid $border-colors;
    background-color: peachpuff;
}

.button {
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
    color: white;
}

.highlight-box .button {
    font-size: 0.85rem;
    display: inline-block;
    margin: 10px 10px;
    padding: 5px 10px;
}

/*Contact Me*/

#message-info input {
    width: 100%;
}

#message {
    padding-bottom: 50%;
}

#submit-button button {
    width: 100%;
}

#my-details {
    font-weight: 600;
}

/*Back To Top*/
.back-to-top {
    text-align: center;
    font-size: 0.75rem;
    padding-bottom: 15px;
}
