/*Containers*/
@use "../utilities/index" as *;

.js-enabled .js-disabled{
    display: none;
}

.slide-text {
    text-align: center;
}

.slick-list {
    width: 75%;
    margin: 0 auto;
}

#my-details p {
    margin-bottom: 0; 
}

.highlight-buttons {
    justify-content: center;
}

.slick-prev {
    left: 25px;
}

.slick-next {
    right: 25px;
}




