@use "../utilities/index" as *;

.margin .we-are-here { /*Underlines the part of the margin representing the current page*/
    text-decoration: underline;
}

header .margin { /*Handles the style of the margin and its size*/
    border-right: 5px solid $border-colors;
    height: fit-content;
    width: 100%;
    display: block;
    text-align: center;
    padding: 0 15px;
    background-color: peachpuff;
    font-size: 0.625rem;
}

.margin li { /*Controls what happens with the specific parts of the list*/
    list-style: none;
    padding: 5px 0;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.header-positioning { /*Controls the header, and the proportions of the two sections*/
    display: grid;
    grid-template-columns: 0.20fr 1fr;
    width: 100%;
    border-bottom: 5px solid $border-colors;
    justify-content: center;
}

.website-head {
    position: relative;
}

.title-container { /*Positioning of the title overlay*/
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    min-width: 0;
    padding: 25% 10px 10%;
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.scroll-down {
    font-size: 0.75rem;
}

.website-title { /*Makes the title show vertically*/
    display: flex;
    flex-direction: column;
}

.logo { /*Sets the aethetics of the logo*/
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 1.875rem;
    font-weight: 600;
}

#highlight-collection h3 { /*Sets the positioning of the highlight heading*/
    text-align: center;
    padding-bottom: 10px;
}

.title-image { /*Makes sure the title fills the container*/
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1
}

.meat-positioning { /*Positioning of the main body of text, also a grid for later use*/
    padding: 15px;
    display: grid;
}

.highlight-box img { /*Sets the proportions of the image*/
    height: 20vh;
    width: 100%;
}

#highlights { /*The positioning of the highlights section*/
    display: flex;
    padding-bottom: 10px;
}

.highlight-box { /*The positioning of each highlight box*/
    width: 50%;
    height:fit-content;
}

.highlight-paragraph {
    width:fit-content;
    padding: 0 10px;
}

#highlight-one {
    margin-right: 5px;
}

#highlight-two {
    margin-left: 5px;
}

/*Treehouse Index*/
#treehouse-collection { /*The entire section*/
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 10px;
}

#treehouse-info { 
    text-align: center;
    padding: 10px 10px;
}

.highlight-box, 
#treehouse-collection {
    border: 2px solid $border-colors;
    background-color: peachpuff;
}

.button { /*General buttons*/
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
    color: white;
}

.highlight-box .button { /*Highlight box buttons*/
    font-size: 0.85rem;
    display: inline-block;
    margin: 10px 10px;
    padding: 5px 10px;
}

/*Contact Me*/

#message-info input {
    width: 100%;
    background-color: white;
    border: 2px solid $border-colors;
    border-bottom: 0;
}

#message {
    padding-bottom: 50%;
}

#submit-button button {
    width: 100%;
}

#my-details {
    font-weight: 600;
}

#call-to-action {
    text-align: center;
    padding-top: 15px;
}

#call-to-action h5 {
    padding-bottom: 10px;
}

/*Back To Top*/
.back-to-top {
    text-align: center;
    font-size: 0.75rem;
    padding-bottom: 15px;
}

/*About Page*/
#who-am-i {
    display: flex;
    flex-direction: column;
    border: 2px solid $border-colors;
    padding: 10px 10px;
}

#who-am-i img {
        height: 25vh;
        width: auto;
        margin: 0 auto;
    }

#my-desc {
    text-align: center;
    padding: 0 5px 5px;
}

#about-further {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

/*Coding Examples*/
.meat-positioning div h1 { /*Temporary*/
    text-align: center;
}

/*SCS Scheme*/
#scs-scheme {
    max-width: 100%;
    text-align: center;
}

#scs-scheme h3 {
    font-size: 1.225rem;
    padding: 10px 0;
}

#scs-scheme img {
    padding-top: 5px;
}

#treehouse-link {
    display: none;
}

#intro-scion,
#treehouse-desc,
#netmatters-desc    {
    border: 2px solid $border-colors;
}

#treehouse-desc {
    border-top: 0;
    border-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}

#treehouse-desc img {
    max-height: 30vh;
    width: auto;
}

#netmatters-desc ul {
    list-style-type: none;
}