html { /*Handles default colors and font-styles*/
    background-color: #eeeee0;
    color: rgb(151, 2, 2);
    font-size: 12px;
    font-weight: 400;
}

* { /*Gives everything a box-border*/
     box-sizing: border-box;
}
