/*Base CSS*/
@use "../utilities/index" as *;

html { /*Handles default colors and font-styles*/
    font-family: $default-text-family;
    font-size: $default-text-size;
    font-weight: $default-text-weight;
    line-height: $default-text-lineheight;
    letter-spacing: $default-text-letterspacing;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-text-family;
    font-size: $heading-text-size;
    font-weight: $heading-text-weight;
    color: $primary-text;
}

* { /*Gives everything a box-border*/
     box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    color: $primary-text;
}

