@use "../utilities/index" as *;
/*Buttons*/
.btn-primary {
    background-color: $button-primary;
    border-color: $button-primary;
}
.btn-primary:hover {
    background-color: $button-primary-hover;
    border-color: $button-primary-hover;
}

.btn-secondary {
    background-color: $button-secondary;
    border-color: $button-secondary;
}
.btn-secondary:hover {
    background-color: $button-secondary-hover;
    border-color: $button-secondary-hover;
}

.btn-outline-secondary {
    color: $secondary;
    border-color: $secondary;
}
.btn-outline-secondary:hover {
    background-color: $secondary;
    color: #fff;
}

.disabled {
    pointer-events: none;
}

.btn-hover {
    transform: translateY(-1px);
}
.btn-hover:hover {
    transform: translateY(0px);
}

.construction .btn-primary {
    background-color: $button-primary-hover;
    border-color: $button-primary-hover;
}

.construction .btn-secondary {
    background-color: $button-secondary-hover;
    border-color: $button-secondary-hover;
}
