@use "../utilities/index" as *;
/*Buttons*/
.btn-primary {
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}

.btn-primary:hover {
    background-color: $primary-accent;
    border-color: $primary-accent;
}

.btn-outline-secondary {
    color: $secondary;
    border-color: $secondary;
}

.btn-outline-secondary:hover {
    background-color: $secondary;
    color: #fff;
}

.disabled {
    pointer-events: none;
}

.btn-hover {
    transform: translateY(-1px);
}
.btn-hover:hover {
    transform: translateY(0px);
}


