@use "../utilities/index" as *;
/*Headings*/
.lead {
    color: $primary-text;;
}

#call-to-action h5 {
    padding-bottom: 10px;
}

#scs-scheme h3 {
    font-size: 1.225rem;
    padding: 10px 0;
}

#highlight-one-code h3 {
    text-align: center;
}

