@use "../utilities/index" as *;
/*Navigation Section*/
.margin .we-are-here { /*Underlines the part of the margin representing the current page*/
    text-decoration: underline;
}

header .margin { /*Handles the style of the margin and its size*/
    border-right: 5px solid $border-colors;
    height: fit-content;
    width: 100%;
    display: block;
    text-align: center;
    padding: 0 15px;
    background-color: $alternative-background;
    font-size: 0.625rem;
}

.margin li { /*Controls what happens with the specific parts of the list*/
    list-style: none;
    padding: 5px 0;
}

.logo { /*Sets the aethetics of the logo*/
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 1.875rem;
    font-weight: 600;
}

.scroll-down {
    font-size: 0.75rem;
}

#my-details a:hover,
.site-map a:hover,
.logo:hover   {
    text-decoration: underline;
}

.back-to-top {
    text-align: center;
    font-size: 0.75rem;
    padding-bottom: 15px;
}

#treehouse-link {
    display: none;
}