@use "../utilities/index" as *;
/*Navigation Section*/

//General
footer {
    background-color: #e5e7eb;
    color: $primary-text;;
}

footer a {
    color: $secondary;
}

footer a:hover {
    color: $primary-accent;
}

//hamburger
//Hamburger on the left
.navbar-toggler {
    position: absolute;
    left: 20px;
    z-index: 10; //Above everything else
    border: none;
    background-color: rgba(255,255,255,0.2);
}

.navbar-toggler:hover {
    background-color: rgba(255,255,255,0.4);
}

.navbar-brand {
    position: relative;
}

#mainNav.show {
  transform: translateX(0);
}

.navbar {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
}

// Hide default navbar collapse for now
#mainNav {
    position: absolute; /* Will be used later for pull-out */
    top: 0;
    left: 0;
    width: 250px; /* will slide out later */
    height: 100%;
    background-color: $primary-text;;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 9;
}

.navbar .nav-link {
    color: #f5f5f5;
}

.navbar .nav-link:hover {
    color: $primary-accent;
}

//Index
#my-details a:hover {
    text-align: center;
    font-size: 0.75rem;
    padding-bottom: 15px;
}

#my-details a {
    color: $primary-text;;
    margin-bottom: 1rem;
}

